@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
.app{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    max-width: 1090px;
    margin: 0 auto;
}